<h1>Chattr</h1>

<div>
  <form>
    <textarea name="message" id="message" placeholder="Type your message..."></textarea>
    <input type="submit"></input>
</form>


  <ul id="all_messages">
  </ul>
</div>



